<form action="/create" method="POST">
    <h2>Create product</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>Product title</label>
    </div>
    {{!-- <div class="input-field">
        <input type="number" name="price">
        <label>Product price</label>
    </div> --}}
    {{!-- <div class="input-field">
        <textarea class="materialize-textarea" name="description"></textarea>
        <label>Description</label>
    </div><br> --}}
    <button type="submit" class="btn">Create</button>

</form>