<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%-include('nav.ejs')%>    
    <h5>Додаток для пошуку, додавання та перегляду користувачів та соціальних груп</h5>
  </body>
</html>
